<nav class="navbar">
  <div class="nav-left">
    <span class="logo">CouchPotato</span>
    <div class="nav-links">
      <a routerLink="/" class="nav-link">{{ 'HOME' | translate }}</a>
      <a routerLink="/tv" class="nav-link">{{ 'TV_SHOWS' | translate }}</a>
      <a routerLink="/wishlist" class="nav-link"
        >{{ 'WISHLIST' | translate }}</a
      >
    </div>
  </div>

  <div class="nav-right">
    <div class="search-wrapper">
      <input
        type="text"
        pInputText
        [(ngModel)]="searchQuery"
        placeholder="{{ 'SEARCH_PLACEHOLDER' | translate }}"
        class="search-bar"
      />
      <i class="fas fa-search search-icon" (click)="goToSearch()"></i>
    </div>

    <select
      [(ngModel)]="language"
      (change)="onLanguageChange()"
      class="language-select"
    >
      <option value="en">EN</option>
      <option value="ar">AR</option>
    </select>

    <button class="menu-icon" (click)="toggleMenu()">☰</button>
  </div>

  @if (menuOpen) {
  <div class="mobile-menu">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchQuery"
      placeholder="Search..."
      class="search-bar"
    />
    <a routerLink="/" (click)="toggleMenu()">{{ 'HOME' | translate }}</a>
    <a routerLink="/tv" (click)="toggleMenu()">{{ 'TV_SHOWS' | translate }}</a>
    <a routerLink="/wishlist" (click)="toggleMenu()"
      >{{ 'WISHLIST' | translate }}</a
    >

    <select
      [(ngModel)]="language"
      (change)="onLanguageChange()"
      class="language-select"
    >
      <option value="en">EN</option>
      <option value="ar">AR</option>
    </select>
  </div>
  }
</nav>
